@{
  Layout = "_Layout";
}

@model Registrar.Models.Student

<h2>Delete this student record?</h2>
<h3>@Html.DisplayFor(model => model.StudentName)</h3>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}

<p>@Html.ActionLink("Back to Students list", "Index")</p>